# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
videojuegoLudus/Assets/Models/at_mine/Materials/at_mine_512px.mat.meta
videojuegoLudus/Assets/Models/at_mine/Materials/at_mine_512px.mat
videojuegoLudus/Assets/Models/at_mine/Materials/at_mine_2k.mat.meta
videojuegoLudus/Assets/Models/at_mine/Materials/at_mine_2k.mat
videojuegoLudus/Assets/Models/at_mine/Materials/at_mine_1k.mat.meta
videojuegoLudus/Assets/Models/at_mine/Materials/at_mine_1k.mat
